@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafaf8;
  --foreground: #111110;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}
